<template>
    <form
        @submit.prevent="addNewTodo"
        class="container"
    >
        <div class="form-group">

            <h1
                class="text-center mb-5"
                v-text=" 'Todo application' "
            />

            <input
                type="text"
                name="newTodo"
                class="form-control"
                placeholder="Add todos here: "
                v-model="newTodo"
            />

            <button
                class="btn btn-success w-100 mt-5"
                v-text=" 'Add new todo' "
            />

        </div>
    </form>
    <div
        v-for="(todo, index) in todos"
        :key="todo.id"
        class="container"
    >
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span
                    class="m-1"
                    v-text="index + 1"
                />

                <button
                    :class="{ done: todo.done}"
                    @click="toggleDone(todo)"
                    v-text="todo.content"
                />

                <button
                    class="btn btn-danger m-1"
                    v-text=" 'delete' "
                    @click="toggleDelete(index)"
                />


            </li>
        </ul>
    </div>
</template>

<script setup>

import {ref} from 'vue';

    // reactive data
    const newTodo = ref('');

    const todos = ref([]);

    // method
    const addNewTodo = () => todos.value.push({done: false, content: newTodo.value}); newTodo.value = '';

    const toggleDone = todo => todo.done = !todo.done;

    const toggleDelete = index => todos.value.splice(index, 1);

</script>

<style>
.done {
    text-decoration: line-through;
}
</style>